
/* @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');*/

@font-face{
	font-family: 'Pacifico', cursive;
	src: url('ttf/Pacifico-Regular.ttf');
}

.box1{
	width: 30%;
	height: 200px;
	font-family: 'Pacifico', cursive;
}